{% extends "base.html" %}

{% block content %}
    <!-- <center> -->
            <h1>Add Posts...</h1>
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong> {{ message }}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
            <br/>
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                {% if current_user.is_authenticated %}
                    <form action="" method="POST">
                        {{ form.hidden_tag() }}
                        {{ form.title.label(class='form-label') }}
                        {{ form.title(class='form-control') }}
                        
                        
                        {{ form.slug.label(class='form-label') }}
                        {{ form.slug(class='form-control') }}
                        {{ form.content.label(class='form-label') }}
                        {{ form.content(class='form-control', rows='5') }}
                        <br/>
                        {{ form.submit(class='btn btn-primary') }}
                    </form>
                {% else %}
                    <h2>You must be logged in!</h2>
                    <a href="{{url_for('login')}}">Login</a>
                {% endif %}
            </div>
        <table class="table table-striped">
            {% for post in posts %}
            <tr>
                <td>
                    {{post.title}} - {{post.author}} - {{post.slug}}
                </td>
            </tr>
            {% endfor %}
        </table>
    <!-- </center> -->
{% endblock %}