{% extends "base.html" %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> {{ message }}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <br/>

    <div class="card">
        <div class="card-header">
            {{ current_user.name }}
        </div>
        <div class="card-body">
          <div class="container">
              <div class="row">
                  <div class="col-8">
                    <h5 class="card-title">Welcome to your dashboard!</h5>
                    <p class="card-text"><strong>Name: </strong>{{ current_user.name }}<br>
                      <strong>Username: </strong>{{ current_user.username }}<br>
                      <strong>Id: </strong>{{ current_user.id }}<br>
                      <strong>Email: </strong>{{ current_user.email }}<br>
                      <strong>Favorite color: </strong>{{ current_user.favorite_color }}<br>
                      <strong>Date joined: </strong>{{ current_user.date_added }}<br>
                      <strong>About author: </strong>{{ current_user.about_author }}<br>
                      <strong>Profile picture: </strong>{{ current_user.profile_picture }}<br>
                    </p>
                      <a href="{{url_for('logout')}}" class="btn btn-secondary btn-sm">Logout</a>
                      <a href="{{url_for('update', id=current_user.id)}}" class="btn btn-secondary btn-sm">Update Profile</a>
                      <a href="{{url_for('delete', id=current_user.id)}}" class="btn btn-danger btn-sm">Delete</a>
                  </div>
                  <div class="col-4">
                      {% if current_user.profile_picture %}
                      <img src="{{ url_for('static', filename='images/' + current_user.profile_picture) }}" alt="" align="right">
                      {% else %}
                        <img src="{{ url_for('static', filename='images/pic2.png') }}" alt="">
                      {% endif %} 
                  </div>
              </div>
          </div>
          
          
        </div>
      </div>

{% endblock %}