{% extends "base.html" %}

{% block content %}
    <!-- <center> -->
            <h1>Post {{ id }}</h1>
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong> {{ message }}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
            <br/>

                <div class="shadow p-3 mb-5 bg-body rounded">
                    <h2>{{ post.title }}</h2></br>
                    <strong>By: {{ post.user.username }}</strong></br>
                    {{ post.slug }} | {{ post.date_posted }}</br>
                    {{ post.content|safe }}</br>
                    {% if post.user.about_author %}
                        <strong>About author: </strong>{{ post.user.about_author }}</br></br>
                    {% endif %}
                    <a href="{{url_for('posts')}}" class="btn btn-outline-secondary btn-sm">All Posts</a>
                    {% if post.user_id == current_user.id %}
                        <a href="{{url_for('edit_post', id=post.id)}}" class="btn btn-outline-secondary btn-sm">Edit Post</a>
                        <a href="{{url_for('delete_post', id=post.id)}}" class="btn btn-outline-danger btn-sm">Delete Post</a>
                    {% endif %}
                </div>
                </br>
            
{% endblock %}