{% extends "base.html" %}

{% block content %}
    <!-- <center> -->
        {% if email %}
            <h1>Name: {{name}}</h1>
            <h1>Email: {{email}}!</h1>
            <h1>Password: {{password}}</h1>
            <h1>User: {{user_to_check}}</h1>
    </br>
    </br>
        <h2>I found this info: </h2>
        <h3>Name: {{user_to_check.name}}</h3>
        <h3>Email: {{user_to_check.email}}</h3>
        <h3>Password: {{user_to_check.password_hash}}</h3>
        <h3>Passed: {{passed}}</h3>
        {% else %}
            <h1>What's your name?</h1>
            <br/>
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                {{ form.name.label(class='form-label') }}
                {{ form.name(class='form-control') }}
                {{ form.email.label(class='form-label') }}
                {{ form.email(class='form-control') }}
                {{ form.password_hash.label(class='form-label') }}
                {{ form.password_hash(class='form-control') }}
                <br/>
                {{ form.submit(class='btn btn-primary') }}
            </form>
        {% endif %}
    <!-- </center> -->
{% endblock %}