{% extends "base.html" %}

{% block content %}
    
        <h1>Update User...</h1>
        <h3>ID to update: {{ id }}</h3>
        <h3>Current ID: {{ current_user.id }}</h3>

        {% if id == current_user.id %}
            <br/>
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <form action="/update/{{name_to_update.id}}" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.name.label(class='form-label') }}
                    {{ form.name(class='form-control', value=name_to_update.name) }}
                    {{ form.username.label(class='form-label') }}
                    {{ form.username(class='form-control', value=name_to_update.username) }}
                    {{ form.email.label(class='form-label') }}
                    {{ form.email(class='form-control', value=name_to_update.email) }}
                    {{ form.favorite_color.label(class='form-label') }}
                    {{ form.favorite_color(class='form-control', value=name_to_update.favorite_color) }}
                    <br/>
                    {{ form.submit(class='btn btn-primary') }} 
                    <a href="{{url_for('delete', id=id)}}" class="btn btn-danger">Delete</a>
                </form>
            </div>
        {% else %}
            <br>
            <h3 style="color:red;">Access denied!</h3>
            <h3 style="color:red;">You can't update this user!</h3>
            <br>
        {% endif %}

        <!-- <table class="table table-striped">
            {% for user in all_users %}
            <tr>
                <td>
                    {{user.id}} - {{user.name}} - {{user.email}} - {{user.favorite_color}}
                </td>
            </tr>
            {% endfor %}
        </table> -->

{% endblock %}